node_modules
.yarn/cache
.pnp.*
.env*
coverage
coverage.json
typechain
npm-debug.log
yarn-error.log

#Hardhat files
cache
artifacts

.yarn/install-state.gz

packages/core/typechain-types/
packages/core/contracts-out/
